:root {
  /*---------------------------ROOT COLORS-----------------------*/
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --title-text-color: #ffffff;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}
/*----------------------------------------BOX SIZING--------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*---------------------------------------------BODY--------------------------------------*/
body {
  font-family: "roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/*---------------------------------------------site nav-----------------------------------------------*/
.logo {
  margin-left: 0px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--accent-text-color);
}
.logo-studio {
  color: #000000;
}
  .nav {
    display: flex;
    padding-left: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.nav:hover,
.nav:focus {
  color: var(--accent-text-color);
}
.nav-item {
  color: var(--secondary-text-color);
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}
.current {
  color: var(--secondary-text-color);
}
.section-title {
  color: var(--secondary-text-color);
}
.contacts {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}
.contacts {
  padding-left: 0px;
}

/*---------------------------------------------HERO--------------------------------------*/
.hero {
  background-color: var(--third-background-color);
  text-align: center;
}
.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*---------------------------------------------BUTTON--------------------------------------*/
.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.current {
  color: var(--accent-text-color);
}
.button.filter-button {
  border: 1px solid transparent;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--accent-text-color);
}
.filter-button {
}
.btn {
  display: inline-block;
}
/*--------------------------------------------SECTION--------------------------------------------*/
.logo {
  color: var(--secondary-text-color);
}
.logo:hover {
  color: var(--accent-text-color);
}
ul {
  list-style: none;
}

/*-----------------------------------------Features Как мы работаем--------------------------------------*/
.features {
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-paragraph {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

/*---------------------------------------------EXAMPLES--------------------------------------*/

.title-examples {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*---------------------------------------------OUR TEAM--------------------------------------*/
.out-team {
  background-color: var(--secondary-background-color);
}
.names {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.responcibilities {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*---------------------------------------------FOOTER--------------------------------------*/
.footer {
  background-color: var(--third-background-color);
}
.logo-footer {
  color: var(--title-text-color);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.email-phone {
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*---------------------------------------------PORTFOLIO--------------------------------------*/
.nav-portfolio {
  display: flex;
  align-items: center;
}
.portfolio-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-paragraph {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.ul-contacts-portfolio {
margin-left: auto; 
}
.contacts-portfolio {
display: flex;
color: var(--primary-text-color);
text-decoration: none;
}
.contacts-portfolio + .contacts-portfolio{
margin-left: 50px;
} 
.contacts-portfolio:hover,
.contacts-portfolio:focus {
  color: var(--accent-text-color);
}


.header-ul-margin {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
